In [1]:
# Import dependencies 
import pandas as pd

In [2]:
# Read in data set 
df1 = pd.read_csv('Resources/climdiv_state_year.csv')
print(df1.head())
print(df1.shape)

   fips  year       temp      tempc
0     1  1895  61.641667  16.467593
1     1  1896  64.266667  17.925926
2     1  1897  64.191667  17.884259
3     1  1898  62.983333  17.212963
4     1  1899  63.100000  17.277778
(6000, 4)

In [3]:
# Check data types
df1.dtypes

fips       int64
year       int64
temp     float64
tempc    float64
dtype: object

In [4]:
# Check for empty rows
df1.isnull().sum()

fips     0
year     0
temp     0
tempc    0
dtype: int64

In [5]:
# Create state dictionary
state_dict = {
    1: ['Alabama','AL'], 2: ['Alaska','AK'], 4: ['Arizona','AZ'], 5: ['Arkansas','AR'], 
    6: ['California','CA'], 8: ['Colorado','CO'], 9: ['Connecticut','CT'], 10: ['Delaware','DE'], 
    11: ['District of Columbia','DC'], 12: ['Florida','FL'], 13: ['Georgia','GA'], 15: ['Hawaii','HI'],
    16: ['Idaho','ID'], 17: ['Illinois','IL'], 18: ['Indiana','IN'], 19: ['Iowa','IA'], 
    20: ['Kansas','KS'], 21: ['Kentucky','KY'], 22: ['Louisiana','LA'], 23: ['Maine','ME'],
    24: ['Maryland','MD'], 25: ['Massachusetts','MA'], 26: ['Michigan','MI'], 27: ['Minnesota','MN'],
    28: ['Mississippi','MS'], 29: ['Missouri','MO'], 30: ['Montana','MT'], 31: ['Nebraska','NE'], 
    32: ['Nevada','NV'], 33: ['New Hampshire','NH'], 34: ['New Jersey','NJ'], 35: ['New Mexico','NM'], 
    36: ['New York','NY'], 37: ['North Carolina','NC'], 38: ['North Dakota','ND'], 39: ['Ohio','OH'],
    40: ['Oklahoma','OK'], 41: ['Oregon','OR'], 42: ['Pennsylvania','PA'], 44: ['Rhode Island','RI'], 
    45: ['South Carolina','SC'], 46: ['South Dakota','SD'], 47: ['Tennessee','TN'], 48: ['Texas','TX'], 
    49: ['Utah','UT'], 50: ['Vermont','VT'], 51: ['Virginia','VA'], 53: ['Washington','WA'], 
    54: ['West Virginia','WV'], 55: ['Wisconsin','WI'], 56: ['Wyoming','WY'], 60: ['American Samoa','AS'], 
    66: ['Guam','GU'], 69: ['Northern Mariana Islands','MP'], 72: ['Puerto Rico','PR'], 
    74: ['U.S. Minor Outlying Islands','UM'], 78: ['U.S. Virgin Islands','VI']
}

In [6]:
# Replace fips column with state names
df1['fips'] = df1['fips'].apply(lambda x: state_dict[x][0])
df1

         fips  year       temp      tempc
0     Alabama  1895  61.641667  16.467593
1     Alabama  1896  64.266667  17.925926
2     Alabama  1897  64.191667  17.884259
3     Alabama  1898  62.983333  17.212963
4     Alabama  1899  63.100000  17.277778
...       ...   ...        ...        ...
5995  Wyoming  2015  44.158333   6.754630
5996  Wyoming  2016  43.908333   6.615741
5997  Wyoming  2017  43.200000   6.222222
5998  Wyoming  2018  42.408333   5.782407
5999  Wyoming  2019  40.383333   4.657407

[6000 rows x 4 columns]

In [7]:
# Rename Columns
df1.columns = ['state', 'year', 'tempf', 'tempc']
df1

        state  year      tempf      tempc
0     Alabama  1895  61.641667  16.467593
1     Alabama  1896  64.266667  17.925926
2     Alabama  1897  64.191667  17.884259
3     Alabama  1898  62.983333  17.212963
4     Alabama  1899  63.100000  17.277778
...       ...   ...        ...        ...
5995  Wyoming  2015  44.158333   6.754630
5996  Wyoming  2016  43.908333   6.615741
5997  Wyoming  2017  43.200000   6.222222
5998  Wyoming  2018  42.408333   5.782407
5999  Wyoming  2019  40.383333   4.657407

[6000 rows x 4 columns]