In [22]:
# Import dependenices
import pandas as pd

In [23]:
# Load the dataset in a Pandas DataFrame
file_path = "Resources/GDP_state.csv"
GDP_df = pd.read_csv(file_path)
GDP_df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States *,,SAGDP2N,1.0,...,All industry total,Millions of current dollars,8577552,9062817,...,14992052,15542582,16197007,16784851,17527258,18238301,18745075,19542980,20611861.0,21433226
1,"""00000""",United States *,,SAGDP2N,2.0,...,Private industries,Millions of current dollars,7431992,7871500,...,12884089,13405520,14037519,14572341,15255889,15898859,16360179,17094245,18062184.0,18793750
2,"""00000""",United States *,,SAGDP2N,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,108637,99756,...,146299,180945,179573,215601,201003,182283,166571,176625,178569.0,175373
3,"""00000""",United States *,,SAGDP2N,4.0,111-112,Farms,Millions of current dollars,88136,79030,...,117629,152249,148939,184621,168147,147384,130639,140053,140271.0,136080
4,"""00000""",United States *,,SAGDP2N,5.0,113-115,"Forestry, fishing, and related activities",Millions of current dollars,20501,20726,...,28670,28696,30634,30980,32856,34899,35932,36571,38298.0,39293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,"""98000""",Far West,8,SAGDP2N,92.0,...,Private services-providing industries 3/,Millions of current dollars,985596.4,1064211.3,...,1888391.4,1976062,2075109.3,2181136.7,2313170.7,2486666.3,2618453.8,2789660.2,2954243.6,3138895.7
5524,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5525,SAGDP2N: Gross domestic product (GDP) by state 1/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5526,"Last updated: October 2, 2020-- revised statis...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,Source: U.S. Department of Commerce / Bureau o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Drop the class field 
GDP_df.drop(['2019'], axis=1)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"""00000""",United States *,,SAGDP2N,1.0,...,All industry total,Millions of current dollars,8577552,9062817,...,14448932,14992052,15542582,16197007,16784851,17527258,18238301,18745075,19542980,20611861.0
1,"""00000""",United States *,,SAGDP2N,2.0,...,Private industries,Millions of current dollars,7431992,7871500,...,12403880,12884089,13405520,14037519,14572341,15255889,15898859,16360179,17094245,18062184.0
2,"""00000""",United States *,,SAGDP2N,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,108637,99756,...,129968,146299,180945,179573,215601,201003,182283,166571,176625,178569.0
3,"""00000""",United States *,,SAGDP2N,4.0,111-112,Farms,Millions of current dollars,88136,79030,...,103102,117629,152249,148939,184621,168147,147384,130639,140053,140271.0
4,"""00000""",United States *,,SAGDP2N,5.0,113-115,"Forestry, fishing, and related activities",Millions of current dollars,20501,20726,...,26866,28670,28696,30634,30980,32856,34899,35932,36571,38298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,"""98000""",Far West,8,SAGDP2N,92.0,...,Private services-providing industries 3/,Millions of current dollars,985596.4,1064211.3,...,1814117.2,1888391.4,1976062,2075109.3,2181136.7,2313170.7,2486666.3,2618453.8,2789660.2,2954243.6
5524,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5525,SAGDP2N: Gross domestic product (GDP) by state 1/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5526,"Last updated: October 2, 2020-- revised statis...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,Source: U.S. Department of Commerce / Bureau o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

KeyError: "['Alaska' 'Hawaii'] not found in axis"

In [8]:
# Drop the null rows
GDP_df = GDP_df.dropna()
GDP_df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States *,,SAGDP2N,1.0,...,All industry total,Millions of current dollars,8577552,9062817,...,14992052,15542582,16197007,16784851,17527258,18238301,18745075,19542980,20611861.0,21433226
1,"""00000""",United States *,,SAGDP2N,2.0,...,Private industries,Millions of current dollars,7431992,7871500,...,12884089,13405520,14037519,14572341,15255889,15898859,16360179,17094245,18062184.0,18793750
2,"""00000""",United States *,,SAGDP2N,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,108637,99756,...,146299,180945,179573,215601,201003,182283,166571,176625,178569.0,175373
3,"""00000""",United States *,,SAGDP2N,4.0,111-112,Farms,Millions of current dollars,88136,79030,...,117629,152249,148939,184621,168147,147384,130639,140053,140271.0,136080
4,"""00000""",United States *,,SAGDP2N,5.0,113-115,"Forestry, fishing, and related activities",Millions of current dollars,20501,20726,...,28670,28696,30634,30980,32856,34899,35932,36571,38298.0,39293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5519,"""98000""",Far West,8,SAGDP2N,88.0,"42, 44-45",Trade,Millions of current dollars,194006.4,209026.9,...,306038.9,322777.6,336736,355227,374147,400509.8,403823.2,423391.3,435665.6,462623.3
5520,"""98000""",Far West,8,SAGDP2N,89.0,...,Transportation and utilities,Millions of current dollars,68505.6,70529,...,114841.3,118476.5,120508.7,125869.3,132602.4,142351,151508.6,161271.6,172189.2,189817.3
5521,"""98000""",Far West,8,SAGDP2N,90.0,...,Manufacturing and information,Millions of current dollars,296955.4,319341.4,...,506083.7,515643,535530.9,586212.2,618307.5,671138.4,699937.9,753013.2,801925.5,839734
5522,"""98000""",Far West,8,SAGDP2N,91.0,...,Private goods-producing industries 2/,Millions of current dollars,308331.2,319019,...,483697.9,493509.5,515674.2,542474.8,566819.1,584587,590830.7,629723,670682.2,684935.3
5523,"""98000""",Far West,8,SAGDP2N,92.0,...,Private services-providing industries 3/,Millions of current dollars,985596.4,1064211.3,...,1888391.4,1976062,2075109.3,2181136.7,2313170.7,2486666.3,2618453.8,2789660.2,2954243.6,3138895.7