In [8]:
# Import the dependencies
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine
import psycopg2

from config import db_password

import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

import os
from tensorflow.keras.callbacks import ModelCheckpoint

#from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

import time
import json
import re

# # Initial imports
# import numpy as np
# import pandas as pd
# from path import Path
# import seaborn as sns
# import matplotlib.pyplot as plt
# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from sklearn.model_selection import train_test_split
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense
# from sklearn.metrics import r2_score
# import tensorflow as tf

# # Reproducibility
# tf.random.set_seed(42)

# # Ignore non-important Warnings
# import logging 
# logging.getLogger('tensorflow').setLevel(logging.ERROR)

In [15]:
# Read the data from the database into a dataframe
# Create xxx and xxx DB
# Create connection to PostgreSQL DB
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/final_proj"
    
engine = create_engine(db_string)
   
# Read xxx db to df
tem_emi_df = pd.read_sql("select * from tem_emi", engine)
print(tem_emi_df.shape)
tem_emi_df.head(50)

(1392, 6)

   state_name state_abb  year      tempf      tempc  co2_emissions
0     Alabama        AL  1990  64.916667  18.287037          110.7
1     Alabama        AL  1991  63.958333  17.754630          115.0
2     Alabama        AL  1992  62.108333  16.726852          122.3
3     Alabama        AL  1993  62.325000  16.847222          126.5
4     Alabama        AL  1994  63.050000  17.250000          124.5
5     Alabama        AL  1995  63.033333  17.240741          132.3
6     Alabama        AL  1996  62.125000  16.736111          138.4
7     Alabama        AL  1997  62.366667  16.870370          134.9
8     Alabama        AL  1998  65.125000  18.402778          134.9
9     Alabama        AL  1999  64.141667  17.856481          137.6
10    Alabama        AL  2000  63.566667  17.537037          143.4
11    Alabama        AL  2001  63.033333  17.240741          135.0
12    Alabama        AL  2002  63.575000  17.541667          140.0
13    Alabama        AL  2003  62.733333  17.074074          140.9
14    Alabama        AL  2004  63.333333  17.407407          143.6
15    Alabama        AL  2005  63.391667  17.439815          145.0
16    Alabama        AL  2006  64.200000  17.888889          147.5
17    Alabama        AL  2007  64.400000  18.000000          149.0
18    Alabama        AL  2008  62.916667  17.175926          141.2
19    Alabama        AL  2009  62.908333  17.171296          121.2
20    Alabama        AL  2010  62.708333  17.060185          133.8
21    Alabama        AL  2011  63.833333  17.685185          130.8
22    Alabama        AL  2012  64.916667  18.287037          124.2
23    Alabama        AL  2013  62.600000  17.000000          121.5
24    Alabama        AL  2014  62.033333  16.685185          123.8
25    Alabama        AL  2015  64.616667  18.120370          120.6
26    Alabama        AL  2016  65.341667  18.523148          115.4
27    Alabama        AL  2017  65.033333  18.351852          109.4
28    Alabama        AL  2018  64.450000  18.027778          113.4
29    Arizona        AZ  1990  59.716667  15.398148           63.3
30    Arizona        AZ  1991  59.250000  15.138889           64.2
31    Arizona        AZ  1992  59.591667  15.328704           67.3
32    Arizona        AZ  1993  59.800000  15.444444           69.3
33    Arizona        AZ  1994  60.550000  15.861111           72.1
34    Arizona        AZ  1995  61.008333  16.115741           67.0
35    Arizona        AZ  1996  61.875000  16.597222           68.8
36    Arizona        AZ  1997  60.525000  15.847222           71.8
37    Arizona        AZ  1998  59.275000  15.152778           77.1
38    Arizona        AZ  1999  60.783333  15.990741           81.2
39    Arizona        AZ  2000  61.675000  16.486111           86.7
40    Arizona        AZ  2001  61.200000  16.222222           89.2
41    Arizona        AZ  2002  61.175000  16.208333           88.6
42    Arizona        AZ  2003  61.900000  16.611111           90.5
43    Arizona        AZ  2004  60.408333  15.782407           97.8
44    Arizona        AZ  2005  61.133333  16.185185           97.7
45    Arizona        AZ  2006  61.125000  16.180556          100.9
46    Arizona        AZ  2007  61.591667  16.439815          102.8
47    Arizona        AZ  2008  60.616667  15.898148          103.3
48    Arizona        AZ  2009  61.083333  16.157407           94.2
49    Arizona        AZ  2010  60.391667  15.773148           96.0

In [12]:
# Clean the dataframe if required
# get_dummies 
tem_emi_df.dtypes

state_name        object
state_abb         object
year               int64
tempf            float64
tempc            float64
co2_emissions    float64
dtype: object

In [14]:
tem_emi_df.nunique()

state_name         48
state_abb          48
year               29
tempf            1144
tempc            1144
co2_emissions     988
dtype: int64

In [5]:
# Use OneHotencoder to convert State columns to numerical data from categorical data

In [6]:
# Merge the dataframes

In [7]:
# Split X and y

In [8]:
# Split train, test - X, y data

In [9]:
# Scale the  Xtrain and Xtest data Standardscaler or minmaxscaler

In [10]:
 # Feed the data into elbow curve to determine the number of clusters

# # Unsupervised machine learning :

In [11]:
# Feed the data into PCA

In [12]:
# Feed the data into KMeans

In [13]:
# Based on the clusters try to answers questions???

# Linear Regression Model :

In [15]:
# Understand the linear relationship between different features and target using pairplot

In [ ]:
# Normalization layer

In [ ]:
# Multiple linear regression (Neural Network - linear regression multiple inputs)