In [8]:
# Import the dependencies
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine
import psycopg2

from config import db_password

import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

import os
from tensorflow.keras.callbacks import ModelCheckpoint

#from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

import time
import json
import re

# # Initial imports
# import numpy as np
# import pandas as pd
# from path import Path
# import seaborn as sns
# import matplotlib.pyplot as plt
# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from sklearn.model_selection import train_test_split
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense
# from sklearn.metrics import r2_score
# import tensorflow as tf

# # Reproducibility
# tf.random.set_seed(42)

# # Ignore non-important Warnings
# import logging 
# logging.getLogger('tensorflow').setLevel(logging.ERROR)

In [9]:
# Read the data from the database into a dataframe
# Create xxx and xxx DB
# Create connection to PostgreSQL DB
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/final_proj"
    
engine = create_engine(db_string)
   
# Read xxx db to df
state_temp_df = pd.read_sql("select * from vinu_state_temp", engine)
state_temp_df

     state_name state_abb  year      tempf      tempc
0       Alabama        AL  1895  61.641667  16.467593
1       Alabama        AL  1896  64.266667  17.925926
2       Alabama        AL  1897  64.191667  17.884259
3       Alabama        AL  1898  62.983333  17.212963
4       Alabama        AL  1899  63.100000  17.277778
...         ...       ...   ...        ...        ...
5995    Wyoming        WY  2015  44.158333   6.754630
5996    Wyoming        WY  2016  43.908333   6.615741
5997    Wyoming        WY  2017  43.200000   6.222222
5998    Wyoming        WY  2018  42.408333   5.782407
5999    Wyoming        WY  2019  40.383333   4.657407

[6000 rows x 5 columns]

In [4]:
# Clean the dataframe if required
# get_dummies

In [5]:
# Use OneHotencoder to convert State columns to numerical data from categorical data

In [6]:
# Merge the dataframes

In [7]:
# Split X and y

In [8]:
# Split train, test - X, y data

In [9]:
# Scale the  Xtrain and Xtest data Standardscaler or minmaxscaler

In [10]:
 # Feed the data into elbow curve to determine the number of clusters

# # Unsupervised machine learning :

In [11]:
# Feed the data into PCA

In [12]:
# Feed the data into KMeans

In [13]:
# Based on the clusters try to answers questions???

# Linear Regression Model :

In [15]:
# Understand the linear relationship between different features and target using pairplot

In [ ]:
# Normalization layer

In [ ]:
# Multiple linear regression (Neural Network - linear regression multiple inputs)