In [1]:
import pandas as pd

In [2]:
# Read in the ML output file
combined_df = pd.read_csv('../Machine_Learning/Unsupervised_ML_output.csv', index_col="state_name")
combined_df

,year,tempc,co2_emissions,population_thousands,rgdp_millions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,re_geothermal,re_hydropower,re_solar,re_wind,PC 1,PC 2,PC 3,state_abb,Class
state_name,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,4368,143646,867264,524929,337431,310336,182204,17,117660,138,0,0.545343,-1.383178,-2.187870,AL,1
Arizona,1997,15.847222,71.8,4737,168550,369872,430092,137588,307623,16421,238,123060,3792,0,-0.747017,-0.325250,-1.416466,AZ,0
Arkansas,1997,15.365741,59.6,2601,82756,246786,320440,264019,149100,86884,147,35906,1108,0,-1.067665,-0.382199,-1.297546,AR,0
California,1997,15.064815,346.6,32486,1378654,82651,3292194,2185029,320194,158854,132211,419290,24988,32037,8.464622,6.864697,-0.633550,CA,2
Colorado,1997,7.134259,75.7,4018,184193,362423,371516,311900,0,17123,411,20751,230,0,-1.548489,0.128473,1.356988,CO,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,2018,13.648148,103.1,8501,477006,149349,776363,666852,305826,155471,1701,16067,8244,0,0.759591,0.074438,-1.451443,VA,1
Washington,2018,8.916667,78.8,7524,511672,61166,801282,334776,101502,145868,1136,736362,1507,71922,0.517689,3.906769,1.335260,WA,0
West Virginia,2018,11.833333,89.9,1804,71481,661760,218584,222889,0,20594,32,16821,140,16114,-1.392147,-0.714847,0.681270,WV,0
Wisconsin,2018,6.226852,101.3,5807,301623,362077,543067,565280,105900,160969,615,21777,1288,14909,-0.202182,0.296416,0.483077,WI,0
Wyoming,2018,5.782407,63.6,578,38040,455748,162553,174859,0,8368,663,8883,67,36936,-2.018425,0.095585,1.768015,WY,0

In [3]:
#Read in the state_disasters csv
state_disasters = pd.read_csv("../Resources/data_processed/state_disasters.csv", index_col="state_name")
state_disasters

,year,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm
state_name,,,,,,,,
Alaska,1980,0,0,0,0,0,0,0
Alabama,1980,1,0,0,0,0,0,0
Arkansas,1980,1,1,0,0,0,0,0
Arizona,1980,0,0,0,0,0,0,0
California,1980,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
Vermont,2020,0,0,0,0,0,0,0
Washington,2020,1,0,0,0,0,1,0
Wisconsin,2020,0,0,0,3,0,0,0
West Virginia,2020,0,0,0,3,0,0,0
Wyoming,2020,1,0,0,0,0,1,0

In [4]:
#filter state_disasters to date range 1997-2018
state_disasters=state_disasters[state_disasters["year"]>=1997]
state_disasters = state_disasters[state_disasters["year"]<=2018]
state_disasters

,year,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm
state_name,,,,,,,,
Alaska,1997,0,0,0,0,0,0,0
Alabama,1997,0,0,0,0,0,0,0
Arkansas,1997,0,0,0,1,0,0,0
Arizona,1997,0,0,0,0,0,0,0
California,1997,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
Vermont,2018,0,0,0,1,0,0,0
Washington,2018,0,0,0,0,0,1,0
Wisconsin,2018,0,0,0,1,0,0,0
West Virginia,2018,0,0,0,1,0,0,0
Wyoming,2018,0,0,0,1,0,1,0

In [5]:
#Begin filtering by state to find states disallowed from our analysis
state_disasters.index.unique()

Index(['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Iowa',
       'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana',
       'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota',
       'Missouri', 'Mississippi', 'Montana', 'North Carolina', 'North Dakota',
       'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada',
       'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'Utah', 'Virginia', 'Virgin Islands', 'Vermont', 'Washington',
       'Wisconsin', 'West Virginia', 'Wyoming'],
      dtype='object', name='state_name')

In [6]:
#remove non-contiguous states
state_disasters=state_disasters.drop(labels=["Alaska", "Hawaii", "Puerto Rico", "Virgin Islands"], axis=0)
state_disasters.value_counts()

year  drought  flooding  freeze  severe_storm  tropical_cyclone  wildfire  winter_storm
2005  0        0         0       0             0                 0         0               29
2001  0        0         0       0             0                 0         0               28
2010  0        0         0       0             0                 0         0               25
2000  0        0         0       0             0                 0         0               24
2004  0        0         0       0             0                 0         0               23
                                                                                           ..
2007  1        0         1       1             0                 1         0                1
2013  1        0         0       3             0                 0         0                1
               1         0       0             0                 0         0                1
                                 3             0                 0         0                1
2018  1        0         0       5             0                 0         0                1
Length: 315, dtype: int64

In [7]:
#Merge with ML output
vis_df=pd.merge(left=combined_df, right=state_disasters, on=["state_name", "year"])
vis_df

,year,tempc,co2_emissions,population_thousands,rgdp_millions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,...,PC 3,state_abb,Class,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,4368,143646,867264,524929,337431,310336,182204,...,-2.187870,AL,1,0,0,0,0,0,0,0
Arizona,1997,15.847222,71.8,4737,168550,369872,430092,137588,307623,16421,...,-1.416466,AZ,0,0,0,0,0,0,0,0
Arkansas,1997,15.365741,59.6,2601,82756,246786,320440,264019,149100,86884,...,-1.297546,AR,0,0,0,0,1,0,0,0
California,1997,15.064815,346.6,32486,1378654,82651,3292194,2185029,320194,158854,...,-0.633550,CA,2,0,1,0,0,0,0,0
Colorado,1997,7.134259,75.7,4018,184193,362423,371516,311900,0,17123,...,1.356988,CO,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,2018,13.648148,103.1,8501,477006,149349,776363,666852,305826,155471,...,-1.451443,VA,1,0,0,0,3,2,0,2
Washington,2018,8.916667,78.8,7524,511672,61166,801282,334776,101502,145868,...,1.335260,WA,0,0,0,0,0,0,1,0
West Virginia,2018,11.833333,89.9,1804,71481,661760,218584,222889,0,20594,...,0.681270,WV,0,0,0,0,1,0,0,0
Wisconsin,2018,6.226852,101.3,5807,301623,362077,543067,565280,105900,160969,...,0.483077,WI,0,0,0,0,1,0,0,0
Wyoming,2018,5.782407,63.6,578,38040,455748,162553,174859,0,8368,...,1.768015,WY,0,0,0,0,1,0,1,0

In [8]:
# #add longitude and latitude of major cities/state
# long_lats=pd.read_csv("../Resources/data_raw/us_cities.csv")
# long_lats["state_name"]=long_lats["name"]
# long_lats=long_lats.drop("name", axis=1)
# long_lats=long_lats.set_index("state_name")
# long_lats

In [9]:
# #merge to df
# vis_df=pd.merge(left=combined_df, right=long_lats, how="left", on="state_name")
# vis_df

In [10]:
#add in total from disasters
vis_df["total_disasters"]=vis_df["drought"]+ vis_df["flooding"]+ vis_df["freeze"]+ vis_df["severe_storm"]+ vis_df["tropical_cyclone"]+vis_df["wildfire"]+ vis_df["winter_storm"]
vis_df

,year,tempc,co2_emissions,population_thousands,rgdp_millions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,...,state_abb,Class,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm,total_disasters
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,4368,143646,867264,524929,337431,310336,182204,...,AL,1,0,0,0,0,0,0,0,0
Arizona,1997,15.847222,71.8,4737,168550,369872,430092,137588,307623,16421,...,AZ,0,0,0,0,0,0,0,0,0
Arkansas,1997,15.365741,59.6,2601,82756,246786,320440,264019,149100,86884,...,AR,0,0,0,0,1,0,0,0,1
California,1997,15.064815,346.6,32486,1378654,82651,3292194,2185029,320194,158854,...,CA,2,0,1,0,0,0,0,0,1
Colorado,1997,7.134259,75.7,4018,184193,362423,371516,311900,0,17123,...,CO,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,2018,13.648148,103.1,8501,477006,149349,776363,666852,305826,155471,...,VA,1,0,0,0,3,2,0,2,7
Washington,2018,8.916667,78.8,7524,511672,61166,801282,334776,101502,145868,...,WA,0,0,0,0,0,0,1,0,1
West Virginia,2018,11.833333,89.9,1804,71481,661760,218584,222889,0,20594,...,WV,0,0,0,0,1,0,0,0,1
Wisconsin,2018,6.226852,101.3,5807,301623,362077,543067,565280,105900,160969,...,WI,0,0,0,0,1,0,0,0,1
Wyoming,2018,5.782407,63.6,578,38040,455748,162553,174859,0,8368,...,WY,0,0,0,0,1,0,1,0,2

In [11]:
vis_df.columns

Index(['year', 'tempc', 'co2_emissions', 'population_thousands',
       'rgdp_millions', 'pe_coal', 'pe_petroleum', 'pe_naturalgas',
       'pe_nuclear', 're_biomass', 're_geothermal', 're_hydropower',
       're_solar', 're_wind', 'PC 1', 'PC 2', 'PC 3', 'state_abb', 'Class',
       'drought', 'flooding', 'freeze', 'severe_storm', 'tropical_cyclone',
       'wildfire', 'winter_storm', 'total_disasters'],
      dtype='object')

In [12]:
#total primary nonrenewable energy sources
vis_df["total_pe"]=vis_df["pe_coal"]+ vis_df["pe_petroleum"]+ vis_df["pe_naturalgas"]+ vis_df["pe_nuclear"]
vis_df

,year,tempc,co2_emissions,population_thousands,rgdp_millions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,...,Class,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm,total_disasters,total_pe
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,4368,143646,867264,524929,337431,310336,182204,...,1,0,0,0,0,0,0,0,0,2039960
Arizona,1997,15.847222,71.8,4737,168550,369872,430092,137588,307623,16421,...,0,0,0,0,0,0,0,0,0,1245175
Arkansas,1997,15.365741,59.6,2601,82756,246786,320440,264019,149100,86884,...,0,0,0,0,1,0,0,0,1,980345
California,1997,15.064815,346.6,32486,1378654,82651,3292194,2185029,320194,158854,...,2,0,1,0,0,0,0,0,1,5880068
Colorado,1997,7.134259,75.7,4018,184193,362423,371516,311900,0,17123,...,0,0,0,0,0,0,0,0,0,1045839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,2018,13.648148,103.1,8501,477006,149349,776363,666852,305826,155471,...,1,0,0,0,3,2,0,2,7,1898390
Washington,2018,8.916667,78.8,7524,511672,61166,801282,334776,101502,145868,...,0,0,0,0,0,0,1,0,1,1298726
West Virginia,2018,11.833333,89.9,1804,71481,661760,218584,222889,0,20594,...,0,0,0,0,1,0,0,0,1,1103233
Wisconsin,2018,6.226852,101.3,5807,301623,362077,543067,565280,105900,160969,...,0,0,0,0,1,0,0,0,1,1576324
Wyoming,2018,5.782407,63.6,578,38040,455748,162553,174859,0,8368,...,0,0,0,0,1,0,1,0,2,793160

In [13]:
#Total renewable energy sources
vis_df["total_re"]=vis_df["re_biomass"]+ vis_df["re_geothermal"]+ vis_df["re_hydropower"] + vis_df["re_solar"]+ vis_df["re_wind"]
vis_df

,year,tempc,co2_emissions,population_thousands,rgdp_millions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,...,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm,total_disasters,total_pe,total_re
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,4368,143646,867264,524929,337431,310336,182204,...,0,0,0,0,0,0,0,0,2039960,300019
Arizona,1997,15.847222,71.8,4737,168550,369872,430092,137588,307623,16421,...,0,0,0,0,0,0,0,0,1245175,143511
Arkansas,1997,15.365741,59.6,2601,82756,246786,320440,264019,149100,86884,...,0,0,0,1,0,0,0,1,980345,124045
California,1997,15.064815,346.6,32486,1378654,82651,3292194,2185029,320194,158854,...,0,1,0,0,0,0,0,1,5880068,767380
Colorado,1997,7.134259,75.7,4018,184193,362423,371516,311900,0,17123,...,0,0,0,0,0,0,0,0,1045839,38515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,2018,13.648148,103.1,8501,477006,149349,776363,666852,305826,155471,...,0,0,0,3,2,0,2,7,1898390,181483
Washington,2018,8.916667,78.8,7524,511672,61166,801282,334776,101502,145868,...,0,0,0,0,0,1,0,1,1298726,956795
West Virginia,2018,11.833333,89.9,1804,71481,661760,218584,222889,0,20594,...,0,0,0,1,0,0,0,1,1103233,53701
Wisconsin,2018,6.226852,101.3,5807,301623,362077,543067,565280,105900,160969,...,0,0,0,1,0,0,0,1,1576324,199558
Wyoming,2018,5.782407,63.6,578,38040,455748,162553,174859,0,8368,...,0,0,0,1,0,1,0,2,793160,54917

In [14]:
#Write to processed data file to use in visualizations
vis_df.to_csv("../Resources/data_processed/combined_features.csv")