In [1]:
import pandas as pd

In [2]:
# Read in the ML output file
combined_df = pd.read_csv('../Machine_Learning/Unsupervised_ML_output.csv', index_col="state_name")
combined_df

,year,tempc,co2_emissions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,re_geothermal,re_hydropower,re_solar,re_wind,population_thousands,rgdp_millions,PC 1,PC 2,PC 3,Class
state_name,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,867264,524929,337431,310336,182204,17,117660,138,0,4368,143646,0.545341,-1.384460,-2.193927,3
Alabama,1998,18.402778,134.9,856479,518605,341973,300698,209467,18,107730,134,0,4405,148596,0.706928,-1.431162,-2.396389,3
Alabama,1999,17.856481,137.6,866512,536391,349076,322826,210694,62,79350,127,0,4430,154094,0.732430,-1.506570,-2.394511,3
Alabama,2000,17.537037,143.4,904181,559735,368472,327143,203782,62,59346,113,0,4452,156560,0.746805,-1.593573,-2.340736,3
Alabama,2001,17.240741,135.0,842337,534772,344004,317019,166334,65,86346,97,0,4468,156404,0.523056,-1.425032,-2.205457,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyoming,2014,5.625000,65.8,489300,173778,142268,0,5121,663,8261,24,41899,583,38718,-2.030729,0.020661,1.817925,0
Wyoming,2015,6.754630,63.9,487177,160997,126421,0,8538,663,8091,27,35009,586,39723,-2.008866,-0.005857,1.656583,0
Wyoming,2016,6.615741,61.1,457315,155994,132478,0,8286,663,8987,33,40522,584,38053,-2.012245,0.045176,1.699210,0
Wyoming,2017,6.222222,62.5,458496,158031,158373,0,8570,663,10352,45,39806,579,37997,-2.005974,0.069521,1.735213,0
Wyoming,2018,5.782407,63.6,455748,162553,174859,0,8368,663,8883,67,36936,578,38040,-2.018428,0.093817,1.756741,0

In [3]:
#Read in the state_disasters csv
state_disasters = pd.read_csv("../Resources/data_processed/state_disasters.csv", index_col="state_name")
state_disasters

,year,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm
state_name,,,,,,,,
Alaska,1980,0,0,0,0,0,0,0
Alabama,1980,1,0,0,0,0,0,0
Arkansas,1980,1,1,0,0,0,0,0
Arizona,1980,0,0,0,0,0,0,0
California,1980,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
Vermont,2020,0,0,0,0,0,0,0
Washington,2020,1,0,0,0,0,1,0
Wisconsin,2020,0,0,0,3,0,0,0
West Virginia,2020,0,0,0,3,0,0,0
Wyoming,2020,1,0,0,0,0,1,0

In [4]:
#filter state_disasters to date range 1997-2018
state_disasters=state_disasters[state_disasters["year"]>=1997]
state_disasters = state_disasters[state_disasters["year"]<=2018]
state_disasters

,year,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm
state_name,,,,,,,,
Alaska,1997,0,0,0,0,0,0,0
Alabama,1997,0,0,0,0,0,0,0
Arkansas,1997,0,0,0,1,0,0,0
Arizona,1997,0,0,0,0,0,0,0
California,1997,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
Vermont,2018,0,0,0,1,0,0,0
Washington,2018,0,0,0,0,0,1,0
Wisconsin,2018,0,0,0,1,0,0,0
West Virginia,2018,0,0,0,1,0,0,0
Wyoming,2018,0,0,0,1,0,1,0

In [5]:
#Begin filtering by state to find states disallowed from our analysis
state_disasters.index.unique()

Index(['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Iowa',
       'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana',
       'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota',
       'Missouri', 'Mississippi', 'Montana', 'North Carolina', 'North Dakota',
       'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada',
       'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'Utah', 'Virginia', 'Virgin Islands', 'Vermont', 'Washington',
       'Wisconsin', 'West Virginia', 'Wyoming'],
      dtype='object', name='state_name')

In [6]:
#remove non-contiguous states
state_disasters=state_disasters.drop(labels=["Alaska", "Hawaii", "Puerto Rico", "Virgin Islands"], axis=0)
state_disasters.value_counts()

year  drought  flooding  freeze  severe_storm  tropical_cyclone  wildfire  winter_storm
2005  0        0         0       0             0                 0         0               29
2001  0        0         0       0             0                 0         0               28
2010  0        0         0       0             0                 0         0               25
2000  0        0         0       0             0                 0         0               24
2004  0        0         0       0             0                 0         0               23
                                                                                           ..
2007  1        0         1       1             0                 1         0                1
2013  1        0         0       3             0                 0         0                1
               1         0       0             0                 0         0                1
                                 3             0                 0         0                1
2018  1        0         0       5             0                 0         0                1
Length: 315, dtype: int64

In [7]:
#Merge with ML output
vis_df=pd.merge(left=combined_df, right=state_disasters, on=["state_name", "year"])
vis_df

,year,tempc,co2_emissions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,re_geothermal,re_hydropower,...,PC 2,PC 3,Class,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,867264,524929,337431,310336,182204,17,117660,...,-1.384460,-2.193927,3,0,0,0,0,0,0,0
Alabama,1998,18.402778,134.9,856479,518605,341973,300698,209467,18,107730,...,-1.431162,-2.396389,3,1,0,0,1,1,0,0
Alabama,1999,17.856481,137.6,866512,536391,349076,322826,210694,62,79350,...,-1.506570,-2.394511,3,1,0,0,1,0,0,1
Alabama,2000,17.537037,143.4,904181,559735,368472,327143,203782,62,59346,...,-1.593573,-2.340736,3,1,0,0,0,0,0,1
Alabama,2001,17.240741,135.0,842337,534772,344004,317019,166334,65,86346,...,-1.425032,-2.205457,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyoming,2014,5.625000,65.8,489300,173778,142268,0,5121,663,8261,...,0.020661,1.817925,0,0,0,0,1,0,0,0
Wyoming,2015,6.754630,63.9,487177,160997,126421,0,8538,663,8091,...,-0.005857,1.656583,0,0,0,0,0,0,1,0
Wyoming,2016,6.615741,61.1,457315,155994,132478,0,8286,663,8987,...,0.045176,1.699210,0,0,0,0,1,0,1,0
Wyoming,2017,6.222222,62.5,458496,158031,158373,0,8570,663,10352,...,0.069521,1.735213,0,0,0,0,1,0,1,0
Wyoming,2018,5.782407,63.6,455748,162553,174859,0,8368,663,8883,...,0.093817,1.756741,0,0,0,0,1,0,1,0

In [8]:
#add longitude and latitude of major cities/state
long_lats=pd.read_csv("../Resources/data_raw/us_cities.csv")
long_lats["state_name"]=long_lats["name"]
long_lats=long_lats.drop("name", axis=1)
long_lats=long_lats.set_index("state_name")
long_lats

                 latitude   longitude
state_name
Alabama         32.377716  -86.300568
Arizona         33.448143 -112.096962
Arkansas        34.746613  -92.288986
California      38.576668 -121.493629
Colorado        39.739227 -104.984856
Connecticut     41.764046  -72.682198
Delaware        39.157307  -75.519722
Florida         30.438118  -84.281296
Georgia         33.749027  -84.388229
Idaho           43.617775 -116.199722
Illinois        39.798363  -89.654961
Indiana         39.768623  -86.162643
Iowa            41.591087  -93.603729
Kansas          39.048191  -95.677956
Kentucky        38.186722  -84.875374
Louisiana       30.457069  -91.187393
Maine           44.307167  -69.781693
Maryland        38.978764  -76.490936
Massachusetts   42.358162  -71.063698
Michigan        42.733635  -84.555328
Minnesota       44.955097  -93.102211
Mississippi     32.303848  -90.182106
Missouri        38.579201  -92.172935
Montana         46.585709 -112.018417
Nebraska        40.808075  -96.699654
Nevada          39.163914 -119.766121
New Hampshire   43.206898  -71.537994
New Jersey      40.220596  -74.769913
New Mexico      35.682240 -105.939728
North Carolina  35.780430  -78.639099
North Dakota    46.820850 -100.783318
New York        42.652843  -73.757874
Ohio            39.961346  -82.999069
Oklahoma        35.492207  -97.503342
Oregon          44.938461 -123.030403
Pennsylvania    40.264378  -76.883598
Rhode Island    41.830914  -71.414963
South Carolina  34.000343  -81.033211
South Dakota    44.367031 -100.346405
Tennessee       36.165810  -86.784241
Texas           30.274670  -97.740349
Utah            40.777477 -111.888237
Vermont         44.262436  -72.580536
Virginia        37.538857  -77.433640
Washington      47.035805 -122.905014
West Virginia   38.336246  -81.612328
Wisconsin       43.074684  -89.384445
Wyoming         41.140259 -104.820236

In [9]:
#merge to df
vis_df=pd.merge(left=vis_df, right=long_lats, how="left", on="state_name")
vis_df

,year,tempc,co2_emissions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,re_geothermal,re_hydropower,...,Class,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm,latitude,longitude
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,867264,524929,337431,310336,182204,17,117660,...,3,0,0,0,0,0,0,0,32.377716,-86.300568
Alabama,1998,18.402778,134.9,856479,518605,341973,300698,209467,18,107730,...,3,1,0,0,1,1,0,0,32.377716,-86.300568
Alabama,1999,17.856481,137.6,866512,536391,349076,322826,210694,62,79350,...,3,1,0,0,1,0,0,1,32.377716,-86.300568
Alabama,2000,17.537037,143.4,904181,559735,368472,327143,203782,62,59346,...,3,1,0,0,0,0,0,1,32.377716,-86.300568
Alabama,2001,17.240741,135.0,842337,534772,344004,317019,166334,65,86346,...,3,0,0,0,0,0,0,0,32.377716,-86.300568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyoming,2014,5.625000,65.8,489300,173778,142268,0,5121,663,8261,...,0,0,0,0,1,0,0,0,41.140259,-104.820236
Wyoming,2015,6.754630,63.9,487177,160997,126421,0,8538,663,8091,...,0,0,0,0,0,0,1,0,41.140259,-104.820236
Wyoming,2016,6.615741,61.1,457315,155994,132478,0,8286,663,8987,...,0,0,0,0,1,0,1,0,41.140259,-104.820236
Wyoming,2017,6.222222,62.5,458496,158031,158373,0,8570,663,10352,...,0,0,0,0,1,0,1,0,41.140259,-104.820236
Wyoming,2018,5.782407,63.6,455748,162553,174859,0,8368,663,8883,...,0,0,0,0,1,0,1,0,41.140259,-104.820236

In [10]:
#add in total from disasters
vis_df["total_disasters"]=vis_df["drought"]+ vis_df["flooding"]+ vis_df["freeze"]+ vis_df["severe_storm"]+ vis_df["tropical_cyclone"]+vis_df["wildfire"]+ vis_df["winter_storm"]
vis_df

,year,tempc,co2_emissions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,re_geothermal,re_hydropower,...,drought,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm,latitude,longitude,total_disasters
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,867264,524929,337431,310336,182204,17,117660,...,0,0,0,0,0,0,0,32.377716,-86.300568,0
Alabama,1998,18.402778,134.9,856479,518605,341973,300698,209467,18,107730,...,1,0,0,1,1,0,0,32.377716,-86.300568,3
Alabama,1999,17.856481,137.6,866512,536391,349076,322826,210694,62,79350,...,1,0,0,1,0,0,1,32.377716,-86.300568,3
Alabama,2000,17.537037,143.4,904181,559735,368472,327143,203782,62,59346,...,1,0,0,0,0,0,1,32.377716,-86.300568,2
Alabama,2001,17.240741,135.0,842337,534772,344004,317019,166334,65,86346,...,0,0,0,0,0,0,0,32.377716,-86.300568,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyoming,2014,5.625000,65.8,489300,173778,142268,0,5121,663,8261,...,0,0,0,1,0,0,0,41.140259,-104.820236,1
Wyoming,2015,6.754630,63.9,487177,160997,126421,0,8538,663,8091,...,0,0,0,0,0,1,0,41.140259,-104.820236,1
Wyoming,2016,6.615741,61.1,457315,155994,132478,0,8286,663,8987,...,0,0,0,1,0,1,0,41.140259,-104.820236,2
Wyoming,2017,6.222222,62.5,458496,158031,158373,0,8570,663,10352,...,0,0,0,1,0,1,0,41.140259,-104.820236,2
Wyoming,2018,5.782407,63.6,455748,162553,174859,0,8368,663,8883,...,0,0,0,1,0,1,0,41.140259,-104.820236,2

In [11]:
vis_df.columns

Index(['year', 'tempc', 'co2_emissions', 'pe_coal', 'pe_petroleum',
       'pe_naturalgas', 'pe_nuclear', 're_biomass', 're_geothermal',
       're_hydropower', 're_solar', 're_wind', 'population_thousands',
       'rgdp_millions', 'PC 1', 'PC 2', 'PC 3', 'Class', 'drought', 'flooding',
       'freeze', 'severe_storm', 'tropical_cyclone', 'wildfire',
       'winter_storm', 'latitude', 'longitude', 'total_disasters'],
      dtype='object')

In [12]:
#total primary nonrenewable energy sources
vis_df["total_pe"]=vis_df["pe_coal"]+ vis_df["pe_petroleum"]+ vis_df["pe_naturalgas"]+ vis_df["pe_nuclear"]
vis_df

,year,tempc,co2_emissions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,re_geothermal,re_hydropower,...,flooding,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm,latitude,longitude,total_disasters,total_pe
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,867264,524929,337431,310336,182204,17,117660,...,0,0,0,0,0,0,32.377716,-86.300568,0,2039960
Alabama,1998,18.402778,134.9,856479,518605,341973,300698,209467,18,107730,...,0,0,1,1,0,0,32.377716,-86.300568,3,2017755
Alabama,1999,17.856481,137.6,866512,536391,349076,322826,210694,62,79350,...,0,0,1,0,0,1,32.377716,-86.300568,3,2074805
Alabama,2000,17.537037,143.4,904181,559735,368472,327143,203782,62,59346,...,0,0,0,0,0,1,32.377716,-86.300568,2,2159531
Alabama,2001,17.240741,135.0,842337,534772,344004,317019,166334,65,86346,...,0,0,0,0,0,0,32.377716,-86.300568,0,2038132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyoming,2014,5.625000,65.8,489300,173778,142268,0,5121,663,8261,...,0,0,1,0,0,0,41.140259,-104.820236,1,805346
Wyoming,2015,6.754630,63.9,487177,160997,126421,0,8538,663,8091,...,0,0,0,0,1,0,41.140259,-104.820236,1,774595
Wyoming,2016,6.615741,61.1,457315,155994,132478,0,8286,663,8987,...,0,0,1,0,1,0,41.140259,-104.820236,2,745787
Wyoming,2017,6.222222,62.5,458496,158031,158373,0,8570,663,10352,...,0,0,1,0,1,0,41.140259,-104.820236,2,774900
Wyoming,2018,5.782407,63.6,455748,162553,174859,0,8368,663,8883,...,0,0,1,0,1,0,41.140259,-104.820236,2,793160

In [13]:
#Total renewable energy sources
vis_df["total_re"]=vis_df["re_biomass"]+ vis_df["re_geothermal"]+ vis_df["re_hydropower"] + vis_df["re_solar"]+ vis_df["re_wind"]
vis_df

,year,tempc,co2_emissions,pe_coal,pe_petroleum,pe_naturalgas,pe_nuclear,re_biomass,re_geothermal,re_hydropower,...,freeze,severe_storm,tropical_cyclone,wildfire,winter_storm,latitude,longitude,total_disasters,total_pe,total_re
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,1997,16.870370,134.9,867264,524929,337431,310336,182204,17,117660,...,0,0,0,0,0,32.377716,-86.300568,0,2039960,300019
Alabama,1998,18.402778,134.9,856479,518605,341973,300698,209467,18,107730,...,0,1,1,0,0,32.377716,-86.300568,3,2017755,317349
Alabama,1999,17.856481,137.6,866512,536391,349076,322826,210694,62,79350,...,0,1,0,0,1,32.377716,-86.300568,3,2074805,290233
Alabama,2000,17.537037,143.4,904181,559735,368472,327143,203782,62,59346,...,0,0,0,0,1,32.377716,-86.300568,2,2159531,263303
Alabama,2001,17.240741,135.0,842337,534772,344004,317019,166334,65,86346,...,0,0,0,0,0,32.377716,-86.300568,0,2038132,252842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyoming,2014,5.625000,65.8,489300,173778,142268,0,5121,663,8261,...,0,1,0,0,0,41.140259,-104.820236,1,805346,55968
Wyoming,2015,6.754630,63.9,487177,160997,126421,0,8538,663,8091,...,0,0,0,1,0,41.140259,-104.820236,1,774595,52328
Wyoming,2016,6.615741,61.1,457315,155994,132478,0,8286,663,8987,...,0,1,0,1,0,41.140259,-104.820236,2,745787,58491
Wyoming,2017,6.222222,62.5,458496,158031,158373,0,8570,663,10352,...,0,1,0,1,0,41.140259,-104.820236,2,774900,59436
Wyoming,2018,5.782407,63.6,455748,162553,174859,0,8368,663,8883,...,0,1,0,1,0,41.140259,-104.820236,2,793160,54917

In [14]:
#Write to processed data file to use in visualizations
vis_df.to_csv("../Resources/data_processed/combined_features.csv")